/*----------------------------------------*\
  Header
\*----------------------------------------*/

html {
  @apply font-sans leading-normal;
  box-sizing: border-box;
  font-size: 18px;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  @apply font-sans text-grey-darkest leading-normal;
}

a {
  @apply text-blue no-underline;
  transition: color 300ms ease-out;
}

a:hover {
  @apply text-blue-dark underline;
}

p {
  /* @apply mt-4; */
  max-width: 40em;
}

/* Typography */
/* font-weight */
/* vertical spacing */
/* mobile styles */

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  @apply my-6;
  @apply text-blue;
  @apply font-bold;
  @apply leading-tight;
}

@responsive {
  h1,
  .h1 {
    @apply text-5xl;
  }

  h2,
  .h2 {
    @apply text-4xl;
  }

  h3,
  .h3 {
    @apply text-3xl;
  }
}

h4,
.h4 {
  @apply text-2xl my-4 text-blue font-bold;
}

h5,
.h5 {
  @apply text-xl my-4 text-blue font-bold;
}

h6,
.h6 {
  @apply text-lg my-4 text-blue font-bold;
}




/* HORIZONTAL RULE */
/* https://css-tricks.com/examples/hrs/ */

hr {
  @apply my-4;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
