/*----------------------------------------*\
  HEADER
\*----------------------------------------*/


.header-layout {
  min-height: 80vh;
}

.header-image {
  background-image: url('~/images/kona.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
}
